.services-card-container-parent {
  /* flex: 1; */
  box-shadow: 0px 0px 12px -5px;
  margin: 2em;
  border-radius: 5px;
  font: 20px;
  background-color: #fff;
}

.services-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Dan wants the on hover on Laptop & there on ipda<*/
/* .services-card-container:hover {
  box-shadow: 0px 0px 12px -5px;
} */

.services-card-image > img {
  width: 100%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  /* margin: 0.2em; */
  /* padding-top: 0.5em; */
  /* padding: 1em; */
}

.services-card-title,
.services-card-summary {
  padding: 0rem 1rem;
  height: 75px;
  font-size: 16px;
  overflow: hidden;
}

.services-card-more-info-button {
  padding-bottom: 20px;
}
li {
  text-align: left;
  padding: 4px;
}

.services-card-modal-close {
  top: 1rem;
  right: 1rem;
  position: fixed;
  float: right;
}

.services-card-summary {
  overflow: hidden;
}

/* Ipad width 768px @media screen and (min-width: 768px) {
  .services-card-container {
    display: flex;
  }
} */

.services-card-more-info-button {
  align-self: flex-end;
  /* justify-content: flex-end;
  align-items: flex-end; */
  bottom: 0;
}

/* Desktop width 1200px */
@media screen and (max-width: 1200px) {
  .modal {
    width: 40vm;
  }
}

/* Laptop width 1024px */
@media screen and (max-width: 1024px) {
  .modal {
    width: 40vm;
  }
}

/* Ipad width 768px */
@media screen and (max-width: 768px) {
  .services-card-title {
    font-size: 16px;
  }

  .services-card-summary {
    font-size: 14px;
  }
}

/* Moile Phone Screens Pixel 411px */
@media screen and (max-width: 480px) {
}
