.hero-container {
  background: url('./pic2.jpg') center center/cover no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-announcement,
.hero-welcome,
.hero-number {
  background-color: '#FFFFFF';
  color: '#7C7C7C';
  font-size: 50px;
  height: 100vg;
  padding: 25px;
  /* text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  margin: 30px;
  border-radius: 30px;
}
