.about-card-container {
  display: flex;
}

/* Desktop width 1200px */
@media screen and (max-width: 1200px) {
  .about-card-container {
    display: flex;
  }
}

/* Laptop width 1024px */
@media screen and (max-width: 1024px) {
  .about-card-container {
    display: flex;
  }
}

/* Ipad width 768px */
@media screen and (max-width: 768px) {
  .about-card-container {
    display: flex;
  }
}

/* Moile Phone Screens Pixel 411px */
@media screen and (max-width: 480px) {
  .about-card-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}
