.navbar {
  background-color: #1f6f42;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: top 0.3s;
  box-shadow: 0px 0px 20px -5px;
}

.nav-item {
  /* Black w/ opacity */
  margin: 1em;
  border: none;
  color: #000000;
}

.nav-burger-menu {
  background-color: #ffffff;
  justify-content: right;
  top: 0;
  right: 0;
  position: fixed;
  float: right;
}

.nav-number,
.nav-title {
  color: #ffffff;
  margin: 1em;
}

/* Desktop width 1200px */
@media screen and (max-width: 1200px) {
}

/* Laptop width 1024px */
@media screen and (max-width: 1024px) {
}

/* Ipad width 768px */
@media screen and (max-width: 768px) {
}

/* Moile Phone Screens Pixel 411px */
@media screen and (max-width: 480px) {
  .nav-burger-menu {
    background-color: #ffffff;
    justify-content: right;
    top: 0;
    width: 100%;
    position: fixed;
    float: right;
  }
}

.nav-item:hover,
.nav-number:hover,
.nav-title:hover {
  color: #dab001;
}
