.nav-logo {
  background-color: #574b60; /* Black w/ opacity */
  margin: 3em;
  padding: 3em;
  border: none;
  color: #ffffff;
}

.nav-logo:hover {
  color: #dab001;
}

.nav-pages {
  display: flex;
  justify-content: right;
}
