/* .navbar {
  background-color: #574b60;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: top 0.3s;
} */

.nav-logo {
  /* Black w/ opacity */
  margin: 1em;
  border: none;
  color: #000000;
}

.nav-logo:hover {
  color: #dab001;
}

.nav-burger-menu {
  background-color: #ffffff;
  justify-content: right;
  top: 0;
  position: fixed;
  float: right;
}

.nav-number,
.nav-title {
  color: #ffffff;
  font-size: 30px;
  margin: 2em;
}

.nav-number:hover,
.nav-title:hover {
  color: #dab001;
}
