.card-container {
  /* width: 100%;
  max-width: 300px; */
  flex: 1;
  /* overflow: hidden; */
  box-shadow: 0px 0px 12px -5px;
  margin: 1em;
  border-radius: 5px;
  padding: 1rem;
}

@media screen and (min-width: 760px) {
  .card-container {
    /* display: flex; */
    flex: 1;
    width: 33%;
  }
}
